main.cortes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    div{
        img{
            width: 250px;
            opacity: 0.5;
            object-fit: cover;
            border: double gray 2px;
            &:hover{
                opacity: 1;
            border: white 2px solid;
            border-radius: 10px;
            }
        }
    }
}