@media screen and (max-width: 768px) {
    footer {
        text-align: center;
        justify-items: center;
    }

    .container2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "video video"
            "texto texto";
    }

    .texto p {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 480px) {
    header {
        nav {
            font-size: 2rem;

            a {
                -webkit-text-stroke-width: 0.2rem;
                -webkit-text-stroke-color: $oscuro;

                &:visited {
                    color: white;
                    -webkit-text-stroke-width: 0.3rem;
                    -webkit-text-stroke-color: $oscuro;
                }
            }

            .navbar-brand {
                align-self: center;
            }
        }
    }

    .container2 {
        grid-template-columns: 1fr;
        grid-template-areas:
            "video"
            "texto";
    }

    .texto p {
        font-size: 1.5rem; 
    }

    footer {
        text-align: center;
        justify-items: center;
    }
}
