@media screen and (max-width: 768px) {
.container {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "Texto"
            "Texto" 
            "Texto-1"
            "Video"
            "Video";
    }
    
    .Video { grid-area: Video; }
    
    .Texto { grid-area: Texto;
        background-image: url(https://img.freepik.com/foto-gratis/herramientas-salon-marco-vintage-mesa-madera-trabajos-concepto-carrera_53876-143259.jpg);
        background-size: cover;
        opacity: .9;
        border: burlywood 15px double;
        text-align: center;
        p{
            font-size: 2rem;
        }
    }
    
    .Texto-1 { grid-area: Texto-1;
        background-image: url(https://img.freepik.com/foto-gratis/herramientas-salon-marco-vintage-mesa-madera-trabajos-concepto-carrera_53876-143259.jpg);
        background-size: cover;
        opacity: .9;
        border: burlywood 15px double;
        text-align: center;
        p{
            font-size: 2rem;
        }
    }
    footer {
        text-align: center;
        justify-items: center;
    }
}

@media screen and (max-width: 480px) {
    header {
        nav {
            font-size: 2rem;

            a {
                -webkit-text-stroke-width: 0.2rem;
                -webkit-text-stroke-color: $oscuro;

                &:visited {
                    color: white;
                    -webkit-text-stroke-width: 0.3rem;
                    -webkit-text-stroke-color: $oscuro;
                }
            }

            .navbar-brand {
                align-self: center;
            }
        }
    }

    footer {
        text-align: center;
        justify-items: center;
    }
}
